################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/group9-hw-SC-TheSineOfTheTimes/FileContentIndex/5537bd6e-b364-48d2-83eb-f243a83f30ac.vsidx
/.vs/group9-hw-SC-TheSineOfTheTimes/FileContentIndex/88c95355-f191-4105-8f26-a2f6a8224981.vsidx
/.vs/group9-hw-SC-TheSineOfTheTimes/FileContentIndex/bb1ca2f0-5b24-4e3a-85a8-82331706d85d.vsidx
/.vs/group9-hw-SC-TheSineOfTheTimes/FileContentIndex/2f648027-3a20-4ce7-8d5c-04ab974b96cc.vsidx
/.vs/group9-hw-SC-TheSineOfTheTimes/FileContentIndex/read.lock
/.vs/group9-hw-SC-TheSineOfTheTimes/FileContentIndex
/.vs/group9-hw-SC-TheSineOfTheTimes/v17/.wsuo
/.vs
